<ion-view title="Volunteer Registration Data" id="page11">
  <ion-content padding="true" class="has-header">

    <!-- This button was intended to call the function to export the volunteers list, but was not working properly, so it was removed.
    <button id="signOut-button19" ng-click="export()" style="color:#000000;" class="button button-stable  button-block">Export</button>
    -->

    <div id="volunteerTable" class="table-scroll">
      <table width="250%">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>Over 16?</th>
          <th>q1</th>
          <th>q2a</th>
          <th>q2b</th>
          <th>q2c</th>
          <th>q2d</th>
          <th>q2e</th>
          <th>q2f</th>
          <th>q2g</th>
          <th>q3a</th>
          <th>q3b</th>
          <th>q3c</th>
          <th>q3d</th>
          <th>q3e</th>
          <th>q3f</th>
          <th>q3g</th>
          <th>q4a</th>
          <th>q4b</th>
          <th>q5</th>
          <th>q6a</th>
          <th>q6b</th>
          <th>q7a</th>
          <th>q7b</th>
          <th>q8</th>
          <th>q9a</th>
          <th>q9b</th>
          <th>q10a</th>
          <th>q10b</th>
          <th>q10c</th>
          <th>q11a</th>
          <th>q11b</th>
          <th>q11c</th>
          <th>q12a</th>
          <th>q12b</th>
          <th>q12c</th>
          <th>q12d</th>
          <th>q13a</th>
          <th>q13b</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="people in volunteers">
          <td>{{people.firstname}}</td>
          <td>{{people.lastname}}</td>
          <td>{{people.address}}</td>
          <td>{{people.phoneNo}}</td>
          <td>{{people.email}}</td>
          <td>{{people.over16}}</td>
          <td>{{people.q1}}</td>
          <td>{{people.q2a}}</td>
          <td>{{people.q2b}}</td>
          <td>{{people.q2c}}</td>
          <td>{{people.q2d}}</td>
          <td>{{people.q2e}}</td>
          <td>{{people.q2f}}</td>
          <td>{{people.q2g}}</td>
          <td>{{people.q3a}}</td>
          <td>{{people.q3b}}</td>
          <td>{{people.q3c}}</td>
          <td>{{people.q3d}}</td>
          <td>{{people.q3e}}</td>
          <td>{{people.q3f}}</td>
          <td>{{people.q3g}}</td>
          <td>{{people.q4a}}</td>
          <td>{{people.q4b}}</td>
          <td>{{people.q5}}</td>
          <td>{{people.q6a}}</td>
          <td>{{people.q6b}}</td>
          <td>{{people.q7a}}</td>
          <td>{{people.q7b}}</td>
          <td>{{people.q8}}</td>
          <td>{{people.q9a}}</td>
          <td>{{people.q9b}}</td>
          <td>{{people.q10a}}</td>
          <td>{{people.q10b}}</td>
          <td>{{people.q10c}}</td>
          <td>{{people.q11a}}</td>
          <td>{{people.q11b}}</td>
          <td>{{people.q11c}}</td>
          <td>{{people.q12a}}</td>
          <td>{{people.q12b}}</td>
          <td>{{people.q12c}}</td>
          <td>{{people.q12d}}</td>
          <td>{{people.q13a}}</td>
          <td>{{people.q13b}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>
