<ion-view title="Home" hide-back-button="true" id="page1">
  <ion-content padding="true" style="background: url(img/PxDYdv4TRO2DcxIzY0HA_farmbackground.jpg) no-repeat top;background-size:cover;" class=" manual-remove-top-padding has-header">
    <div class="spacer" style="width: 748.175px; height: 253px;"></div>
    <div class="item item-body" id="volunteers-list-item-container3">
      <h3 id="volunteers-heading10" style="color:#0A6B1A;font-weight:400;text-align:center;">WELCOME TO</h3>
      <div>
        <img src="img/9Et0K2KQECY8JKZzJyvq_farm-logo-2012.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h2 id="volunteers-heading13" style="color:#000000;font-weight:400;">Please sign in</h2>
      <div style="margin-right:-20px;">
        <a ui-sref="menu.signIn" id="volunteers-button1" style="left:-10px;color:#184B20;border-radius:1px 1px 1px 1px;" class="button button-stable  button-full">Sign in</a>
      </div>
      <h2 id="volunteers-heading3" style="color:#000000;font-weight:400;">First time?</h2>
      <div style="margin-right:-20px;">
        <a ui-sref="menu.register" id="volunteers-button4" style="left:-10px;color:#184B20;" class="button button-stable  button-full">Register</a>
      </div>
      <div style="margin-right:-20px;">
        <a ui-sref="menu.visitor" id="volunteers-button5" style="left:-10px;color:#184B20;" class="button button-stable  button-full">Register as a visitor</a>
      </div>
      <h2 id="volunteers-heading12" style="color:#000000;font-weight:400;">Sign out</h2>
      <div style="margin-right:-20px;">
        <a ui-sref="menu.signOut" id="volunteers-button2" style="left:-10px;color:#184B20;" class="button button-stable  button-full signOutButton">Sign out</a>
      </div>
    </div>
  </ion-content>
</ion-view>
